// This defines some generally useful params and profiles for all Rfam
// pipelines.

params {
  // This is the version of Rfamseq Rfam is currently using. This generally only
  // changes with a major release, eg 14.0 -> 15.0
  rfamseq_version = '15.0'

  // This is the current version of Rfam and gets a bump to the minor version
  // every release, eg 15.0 -> 15.1.
  rfam_version = '15.0'
}

process {
  errorStrategy = 'finish'

  // This is the tag that all processes which connect to Rfam's mysql database
  // should use. This is used to ensure there is a limited number running at
  // once so we do not use up all connections.
  withLabel: db {
    maxForks 10
  }
}

singularity {
  // Globally define the cache location for singularity
  cacheDir = "$baseDir/singularity"
}

profiles {
  // The slurm profile is meant to be activated on EBI's slurm cluster.
  slurm {
    // Activate singularity on the cluster. We cannot use docker there because
    // of permission issues
    singularity {
      enabled = true
      cacheDir = "$baseDir/singularity"
    }

    // These are values which seem to work well with the SLURM cluster, but
    // should be revisited should the cluster change.
    process {
      maxForks = 2000
      time = '2d'
      memory = '1 GB'
      executor = 'slurm'
      queue = 'standard'
    }
  }
}

// See local.config.template for an example of what this file must contain.
loadConfig 'local.config'

// Define the some global parameters.
params {
  release_dir = "/nfs/production/agb/rfam/RELEASES/${params.rfam_version}"
  text_search = "${params.release_dir}/text_search"
  ftp = "${params.release_dir}/ftp"
  clan_compete = "${params.release_dir}/clan_competition"
}

// Here we define some useful enviroment variables that the pipelines use
env {
  RFAM_VERSION = "${params.rfam_version}"
  RFAMSEQ_VERSION = "${params.rfamseq_version}"
}
