env.PYTHONPATH="$baseDir"

profiles {

    local {
        process {
            executor = 'local'
        }
    }

    cluster {
        process {
	        container = 'docker://docker.io/emcooke/rfam-production:latest'
            executor = 'lsf'
            maxForks = 2000
            scratch = true
        }
        singularity {
            enabled = true
            cacheDir = "$baseDir/singularity"
        }
        executor {
            name = 'lsf'
            queueSize = 10000
        }
    }
}