env.PYTHONPATH="$baseDir"

profiles {

    local {
        process {
            executor = 'local'
        }
    }

    cluster {
        process {
            executor = 'lsf'
            maxForks = 2000
        }
        executor {
            name = 'lsf'
            queueSize = 10000
        }
    }
}