#!/usr/bin/env nextflow

nextflow.enable.dsl=2

env.PYTHONPATH="/nfs/production/agb/rfam/users/rfamprod/code/rfam-production"

params {
    rfamprod = "/nfs/production/agb/rfam/users/rfamprod/code/rfam-production"
    release = "/nfs/production/agb/rfam/RELEASES/14.8"
    releasex = "14.8"
    release_ftp = "/nfs/production/agb/rfam/RELEASES/14.8/ftp"
    perl_path = "/hps/software/users/agb/rfam/rfam-family-pipeline/Rfam/Scripts"
    db = "RFAMLIVE"
    db_rel = "RFAMREL"
    db_pub = "RFAMLIVEPUB"
    db_schema_name = "rfam_14_8"
    rfamseqfa = "/nfs/production/agb/rfam/rfamseq/14.3/dedup/rfamseq_14_3.fa"
}
process {
    executor = 'lsf'
    maxForks = 2000
}
executor {
    name = 'lsf'
    queueSize = 10000
}

