#!/usr/bin/env nextflow

nextflow.enable.dsl=2

env.PYTHONPATH="/nfs/production/xfam/users/rfamprod/code/rfam-production"

params {
    rfamprod = "/nfs/production/xfam/users/rfamprod/code/rfam-production"
    release = "/hps/nobackup/production/xfam/rfam/RELEASES/14.7"
    release_ftp = "/hps/nobackup/production/xfam/rfam/RELEASES/14.7/ftp"
    releasex = "14.7"
    perl_path = "/nfs/production/xfam/rfam/rfam_rh74/production_software/rfam_production/rfam-family-pipeline/Rfam/scripts"
}
process {
    executor = 'lsf'
    maxForks = 2000
}
executor {
    name = 'lsf'
    queueSize = 10000
}

