#!/usr/bin/env nextflow

nextflow.enable.dsl=2

env.PYTHONPATH="/nfs/production/xfam/users/rfamprod/code/rfam-production"

params {
    rfamprod = "/nfs/production/xfam/users/rfamprod/code/rfam-production"
    release = "/hps/nobackup/production/xfam/rfam/RELEASES/14.7"
    releasex = "14.7"
    release_ftp = "/hps/nobackup/production/xfam/rfam/RELEASES/14.7/ftp"
    perl_path = "/nfs/production/xfam/rfam/rfam_rh74/production_software/rfam_production/rfam-family-pipeline/Rfam/Scripts"
    db = "RFAMLIVE"
    db_rel = "RFAMREL"
    db_pub = "RFAMLIVEPUB"
    db_schema_name = "rfam_14_7"
    rfamseqfa = "/nfs/production/xfam/rfam/rfamseq/14.3/dedup/rfamseq_14_3.fa"
}
process {
    executor = 'lsf'
    maxForks = 2000
}
executor {
    name = 'lsf'
    queueSize = 10000
}

