#!/usr/bin/env nextflow

nextflow.enable.dsl=2

env.PYTHONPATH="/nfs/production/xfam/users/rfamprod/code/rfam-production"

profiles {

    local {
        params {
            rfamprod = ""
        }
        process {
            executor = 'local'
        }
    }

    cluster {
        params {
            rfamprod = "/nfs/production/xfam/users/rfamprod/code/rfam-production"
        }
        process {
            executor = 'lsf'
            maxForks = 2000
        }
        executor {
            name = 'lsf'
            queueSize = 10000
        }
    }
}
