#!/usr/bin/env nextflow

nextflow.enable.dsl=2

env.PYTHONPATH="/nfs/production/agb/rfam/users/rfamprod/code/rfam-production"

params {
    rfamprod = "/nfs/production/agb/rfam/users/rfamprod/code/rfam-production"
    preview = "/nfs/ftp/public/databases/Rfam/.preview"
    search_dumps = "/nfs/production/agb/rfam/search_dumps"
    email = "ecooke@ebi.ac.uk"
    pdb_files = "/nfs/production/agb/rfam/pdb_files"

}

process {
    executor = 'lsf'
    maxForks = 2000
}

executor {
    name = 'lsf'
    queueSize = 10000
}
