#!/usr/bin/env nextflow

nextflow.enable.dsl=2

env.PYTHONPATH="/nfs/production/agb/rfam/users/rfamprod/code/rfam-production"

params {
    rfamprod = "/nfs/production/agb/rfam/users/rfamprod/code/rfam-production"
    release = "/nfs/production/agb/rfam/RELEASES/14.9"
    releasex = "14.9"
    release_ftp = "/nfs/production/agb/rfam/RELEASES/14.9/ftp"
    perl_path = "/hps/software/users/agb/rfam/rfam-family-pipeline/Rfam/Scripts"
    db = "RFAMLIVE"
    db_rel = "RFAMREL"
    db_pub = "RFAMLIVEPUB"
    db_schema_name = "rfam_14_9"
    rfamseqfa = "/nfs/production/agb/rfam/rfamseq/14.3/dedup/rfamseq_14_3.fa"
    ftp_site = "/nfs/ftp/public/databases/Rfam"
    release_dir = "/nfs/production/agb/rfam/RELEASES"
}
process {
    executor = 'lsf'
    maxForks = 2000
}
executor {
    name = 'lsf'
    queueSize = 10000
}

