#!/usr/bin/env nextflow

params {
    rfamprod = "/nfs/production/agb/rfam/users/rfamprod/code/rfam-production"
    release = "/nfs/production/agb/rfam/RELEASES/15.0"
    metadata_files = "/hps/nobackup/agb/rnacentral/genome-download-testing/scripts/genome_download/genomes/fasta"
}

process {
    executor = 'lsf'
    maxForks = 2000
}

executor {
    name = 'lsf'
    queueSize = 10000
}
