params {
  export {
    // This is the number of processes to export genomes there are. Decreasing
    // this means each job is smaller and there are more of them.
    genome_chunks = 50
  }
}

process {
  container = 'docker://rfam/export-test'
}

// Load the global configuration
localConfig '../nextflow.config'
