params {
  release {
    version = '15.1'
    date = '01-01-01' // new Date().format("yyyy-MM-dd")
  }

  rfamseq {
    version = '15'
    directory = ''
    combined_fasta = ''
  }

  fasta {
    largeFamilies = [
     "RF00001",
     "RF00005",
     "RF00017",
     "RF00026",
    ]
  }

  view_process.run = false
  ena_mapping.upload = false
}

workflow {
  output {
    mode = 'copy'
  }
}

outputDir = "$launchDir/results"

profiles {
  // The slurm profile is meant to be activated on EBI's slurm cluster.
  slurm {
    // Activate singularity on the cluster. We cannot use docker there because
    // of permission issues.
    singularity {
      enabled = true
      cacheDir = "$launchDir/singularity"
    }

    executor {
      $slurm {
        queueSize = 10000

        // It is possible to hit a rate limit on job submission times,
        // sometimes. This generally removes the issue but sometimes for some
        // pipelines it still happens
        submitRateLimit = '1sec'
      }
    }

    // These are values which seem to work well with the SLURM cluster, but
    // should be revisited should the cluster change.
    process {
      executor = 'slurm'
      maxForks = 2000
      memory = '2.5 GB'
      queue = 'standard'
      time = '1h'
    }
  }

  // This is for testing the pipeline locally with the latest docker image
  local {
    docker {
      enabled = true
    }
  }
}

process {
  errorStrategy = 'finish'
  // container = 'oras://ghcr.io/rfam/rfam-production:latest'
}

includeConfig "local.config"
