params {
  rfamseq {
    version = '15'
    directory = ''
    combined_fasta = ''
  }
}

profiles {
  // The slurm profile is meant to be activated on EBI's slurm cluster.
  slurm {
    // Activate singularity on the cluster. We cannot use docker there because
    // of permission issues.
    singularity {
      enabled = true
      cacheDir = "$launchDir/singularity"
    }

    executor {
      $slurm {
        queueSize = 10000

        // It is possible to hit a rate limit on job submission times,
        // sometimes. This generally removes the issue but sometimes for some
        // pipelines it still happens
        submitRateLimit = '1sec'
      }
    }

    // These are values which seem to work well with the SLURM cluster, but
    // should be revisited should the cluster change.
    process {
      container = 'oras://ghcr.io/rfam/rfam-production:latest'
      executor = 'slurm'
      maxForks = 2000
      memory = '2.5 GB'
      queue = 'standard'
      time = '1h'
    }
  }

  // This is for testing the pipeline locally with the latest docker image
  local {
    process {
      container = 'oras://ghcr.io/rfam/rfam-3d-seed-alignments:latest'
    }

    docker {
      enabled = true
    }
  }
}

process {
  errorStrategy = 'finish'
}

includeConfig "local.config"
