params {
  rfamseq_version = '15.0'
  rfam_version = '15.0'
  genome_chunks = 50
}

process {
  container = 'docker://rfam/export-test'
  maxForks = 2000
  time = '2d'
  memory = '1 GB'
  errorStrategy = 'finish'
  executor = 'slurm'
  queue = 'standard'
}

singularity {
  enabled = true
  cacheDir = "$baseDir/singularity"
}

env {
  DB_HOST = ""
  DB_USER = ""
  DB_PASSWORD = ""
  DB_PORT = ""
  DB_DATABASE = ""
}

loadConfig 'local.config'

params {
  release_dir = "/nfs/production/agb/rfam/RELEASES/${params.rfam_version}"
  text_search = "${params.release_dir}/text_search"
  ftp = "${params.release_dir}/ftp"
  clan_compete = "${params.release_dir}/clan_competition"
}
