params {
  version = '15'

  proteome_json = 'https://rest.uniprot.org/proteomes/stream?format=json&query=%2A%20AND%20%28proteome_type%3A1%29'
  genbank_assembly_info = 'https://ftp.ncbi.nlm.nih.gov/genomes/ASSEMBLY_REPORTS/assembly_summary_genbank.txt'
  genbank_old_assembly_info = 'https://ftp.ncbi.nlm.nih.gov/genomes/ASSEMBLY_REPORTS/assembly_summary_genbank_historical.txt'
  refseq_assembly_info = 'https://ftp.ncbi.nlm.nih.gov/genomes/ASSEMBLY_REPORTS/assembly_summary_refseq.txt'
  refseq_old_assembly_info = 'https://ftp.ncbi.nlm.nih.gov/genomes/ASSEMBLY_REPORTS/assembly_summary_refseq_historical.txt'
  ignore_upi = 'upi-to-skip'

  download_forks = 20

  proteome_chunks = 2000

  rfam_seq {
    rev_chunks = 10
    rev_fraction = 0.1
    main_chunks = 100
  }

  additional {
    viruses {
      source = "https://proteininformationresource.org/rps/viruses/data/current/35/rpg-35.txt"
    }
  }
}

process {
  container = 'docker://rfam/genome_download:latest'
  maxForks = 2000
  time = '1d'
  memory = '1 GB'
  errorStrategy = 'finish'
}

executor {
  $slurm {
    queueSize = 10000
    submitRateLimit = '1sec'
  }
  $lsf {
    queueSize = 10000
    submitRateLimit = '1sec'
  }
}

profile {
  slurm {
    process {
      executor = 'slurm'
      queue = 'standard'
    }
    singularity {
      enabled = true
      cacheDir = "$baseDir/singularity"
    }
  }

  lsf {
    process.executor = 'lsf'
    singularity {
      enabled = true
      cacheDir = "$baseDir/singularity"
    }
  }
}

includeConfig 'local.config'
