params {
  proteome_xml = 'https://rest.uniprot.org/proteomes/stream?format=xml&query=%2A%20AND%20%28proteome_type%3A1%29'
  genbank_assembly_info = 'https://ftp.ncbi.nlm.nih.gov/genomes/ASSEMBLY_REPORTS/assembly_summary_genbank.txt'
  genbank_old_assembly_info = 'https://ftp.ncbi.nlm.nih.gov/genomes/ASSEMBLY_REPORTS/assembly_summary_genbank_historical.txt'
  refseq_assembly_info = 'https://ftp.ncbi.nlm.nih.gov/genomes/ASSEMBLY_REPORTS/assembly_summary_refseq.txt'
  refseq_old_assembly_info = 'https://ftp.ncbi.nlm.nih.gov/genomes/ASSEMBLY_REPORTS/assembly_summary_refseq_historical.txt'
  ignore_upi = 'upi-to-skip'
}
