#!/usr/bin/env nextflow

nextflow.enable.dsl=2

env.PYTHONPATH="/nfs/production/agb/rfam/users/rfamprod/code/rfam-production"

params {
    mirnas = "/nfs/production/agb/rfam/users/rfamprod/code/rfam-production/scripts/mirnas"
}
process {
    executor = 'lsf'
    maxForks = 2000
}
executor {
    name = 'lsf'
    queueSize = 10000
}

